<!-- <!DOCTYPE html> -->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>🎉 Happy Birthday, <%= name %>! 🎂</title>
	</head>
	<body>
		<div
			style="
				font-family: 'Arial', sans-serif;
				background-color: #f9f9f9;
				padding: 20px;
				text-align: center;
			"
		>
			<div class="adM"></div>
			<h2 style="color: #333">Dear <%= name %>,</h2>
			<p style="font-size: 16px; color: #555; line-height: 1.6">
				Happy Birthday!
				<img
					data-emoji="🎉"
					class="an1"
					alt="🎉"
					aria-label="🎉"
					draggable="false"
					src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f389/32.png"
					loading="lazy"
				/>
				On behalf of the entire family, we're wishing you a fantastic birthday
				filled with joy, laughter, and all the things that make your heart
				happy!
			</p>
			<p style="font-size: 16px; color: #555; line-height: 1.6">
				May the year ahead be as remarkable and successful as you are. May you
				achieve all your goals and continue to inspire those around you.
			</p>
			<p style="font-size: 16px; color: #555; line-height: 1.6">
				Take a break from the usual hustle and bustle, and celebrate this day
				surrounded by friends, family, and the things you love. You deserve all
				the happiness in the world.
			</p>
			<p style="font-size: 16px; color: #555; line-height: 1.6">
				Once again, happy birthday, <%= name %>! Here's to another year of
				growth, success, and memorable moments.
			</p>
			<img
				src="https://ci3.googleusercontent.com/meips/ADKq_NZD9u-lxIEVYLb2P5MKXkPIhaQEW1A0xUnI_fArS1DE_vUIYuz3sJsrWI1jQ1XcyBjwk1AW0_YBnCGensGU1qtjK0jsaidq1QIAGKDc_B0Wn_lvrHMkZzStwEor3qwhy5vH=s0-d-e1-ft#https://drive.google.com/uc?export=view&amp;id=1CMqO3xq49mkVYdhljreEuk6ejJYyp5XZ"
				alt="Birthday Image"
				style="margin-bottom: 20px"
				class="CToWUd a6T"
				data-bit="iit"
				tabindex="0"
			/>
			<div
				class="a6S"
				dir="ltr"
				style="opacity: 0.01; left: 680px; top: 967.906px"
			>
				<span
					data-is-tooltip-wrapper="true"
					class="a5q"
					jsaction="JIbuQc:.CLIENT"
					><button
						class="VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE"
						jscontroller="PIVayb"
						jsaction="click:h5M12e;clickmod:h5M12e; pointerdown:FEiYhc; pointerup:mF5Elf; pointerenter:EX0mI; pointerleave:vpvbp; pointercancel:xyn4sd; contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;"
						data-idom-class="CgzRE"
						jsname="hRZeKc"
						aria-label="Download attachment "
						data-tooltip-enabled="true"
						data-tooltip-id="tt-c8"
						data-tooltip-classes="AZPksf"
						id=""
						jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc5NDAwODY4MTUyMDkxODExNCJd; 43:WyJpbWFnZS9qcGVnIl0."
					>
						<span class="OiePBf-zPjgPe VYBDae-JX-UHGRz"></span
						><span
							class="bHC-Q"
							data-unbounded="false"
							jscontroller="LBaJxb"
							jsname="m9ZlFb"
							soy-skip=""
							ssk="6:RWVI5c"
						></span
						><span
							class="VYBDae-JX-ank-Rtc0Jf"
							jsname="S5tZuc"
							aria-hidden="true"
							><span class="bzc-ank" aria-hidden="true"
								><svg
									height="20"
									viewBox="0 -960 960 960"
									width="20"
									focusable="false"
									class="aoH"
								>
									<path
										d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.717-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.162 50.85Q725.676-192 695.96-192H263.717Z"
									></path></svg></span
						></span>
						<div class="VYBDae-JX-ano"></div>
					</button>
					<div
						class="ne2Ple-oshW8e-J9"
						id="tt-c8"
						role="tooltip"
						aria-hidden="true"
					>
						Download
					</div></span
				>
			</div>
			<div class="yj6qo"></div>
			<div class="adL"></div>
		</div>
	</body>
</html>
